
@{
    ViewBag.Title = "Yorum";
    Layout = "~/Views/Shared/Layout.cshtml";
}

<h2 class="container" style="padding-left:100px;padding-top:25px">Yorumunuz Başarıyla Eklendi</h2>

<input class="btn-outline-success" style="margin-left:300px; margin-top:35px;" type="button" value="Geri" onclick="history.back(-1)" />
